h1 {color: purple; }
p {color: black; }
img {color: grey; }
body { background-color: lavender; }
title { font: bold; }
.purple { color: purple; }
.background { background-color: lavender; }
.margin { margin: 100px; }
